.icon-display{
  display: flex;
  justify-content: flex-end;
  width: 100%;
}
.icon-cart{
  height: 30px; width: 30px;
}

body{
  background-image: url(../public/assets/img/bg.jpg);
}

.contador{
  display: flex;
}

.numero{
  margin: 40px;
}

.menuItemList{
  display: flex;
  flex-wrap: wrap;
}


.card-header, .card-footer{
  text-align: center;
}
.card-body{
  display: grid;
  place-items: center;
}


.carrito{
  display: flex;
  align-items: center;
}

.carrito-total{
  background-color: yellow;
  border-radius: 100px;
  margin-left: -10px;
  margin-bottom: 20px;
  height: 25px;
}

.carrito-total h1{
  font-size: 22px;
}

.cart-item-view img{
  height: 180px;
}

/* AAAAAAAAAAA */