.icon-display{
  display: flex;
  justify-content: end;
  width: 100%;
}
.icon-cart{
  background-color: red;
  height: 30px; width: 30px;
}

main{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 80vh;
}


.contador{
  display: flex;
}

.numero{
  margin: 40px;
}